h1 {
    text-shadow: 2px 2px;
}

@keyframes example {
    0% {
        left: -250px;
        opacity: 0;
    }
    100% {
        left: 250px;
        opacity: 1;
    }
}

.box {
    left: 250;
    width: 250px;
    height: 200px;
    background-color: green;
    position: relative;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: example 3s 1s;
}

.box